table.issues--wbs {
  tbody {
    input {
      color: inherit;
      border: transparent;
      background-color: transparent;
      font-family: Verdana, sans-serif;
      font-size: 12px;
      outline: none;
      padding: 0;
      text-align: inherit;
      width: 100%;
    }

    tr.closed td.subject input {
      text-decoration: line-through;
    }
  }

  td {
    &.subject {
      min-width: 300px;
    }

    &.estimated_hours,
    &.total_estimated_hours {
      width: 150px;
    }
  }

  tfoot td {
    background-color: #eee;
    font-weight: bold;
  }
}
