.issues--wbs {
  tbody {
    tr {
      td.subject {
        min-width: 300px;
      }

      input {
        color: inherit;
        border: transparent;
        background-color: transparent;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        outline: none;
        padding: 0;
        width: 100%;
      }
    }
  }

  .estimated_hours input {
    text-align: center;
  }

  tfoot td {
    background-color: #eee;
    font-weight: bold;
  }
}
