<%= form_tag({}, :id => 'wbs-list', :data => {:cm_url => issues_context_menu_path}) do -%>
  <%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>

  <div class="autoscroll">
    <wbs-issues project-id="<%= project.id %>">
      <template slot="header">
        <th>#</th>
        <th>Subject</th>
        <th>Estimated time</th>
        <th>Total estimated time</th>
      </template>
    </wbs-issues>
  </div>
<% end -%>
